h1 {
    color:ghostwhite;
}

body {
  background-image: url(https://wallpaperaccess.com/full/1105642.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#brewery-list {
  height: 300px;
  overflow:scroll;
}


