h1 {
    color:darkgoldenrod;
    font-weight: bold;
    font-family: Ink Free;
    text-shadow: 0 0 3px red, 0 0 5px darkgoldenrod;

}
h2 {
  font-family: Ink Free;
  color: darkgoldenrod;
  text-shadow: 0 0 3px red, 0 0 5px darkgoldenrod;
}

body {
  background-image: url(https://wallpaperaccess.com/full/1105642.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: ghostwhite;
  font-family: Ink Free;
  font-weight: bold;
}
a:hover{
  color:darkgoldenrod;
    font-weight: bold;
    font-family: Ink Free;
    text-shadow: 0 0 3px red, 0 0 5px darkgoldenrod;
}
#nav {
  color: ghostwhite;
  font-family: Ink Free;
  font-weight: bold;
}